* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rethink Sans", sans-serif;
}

.app {
    display: flex;
}

.dock-for-mobiles {
    display: none;
}

.sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: white;
    padding: 40px 10px;
    padding-right: 12px;
    z-index: 100;
    min-height: 100dvh;
    position: sticky;
    top: 0;
}

.sidebar ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
    list-style-type: none;
}

.sidebar-icons-div {
    padding: 10px;
    display: flex;
    gap: 12px;
    align-items: center;
}

.sidebar-icons-div span {
    font-size: 24px;
}

.sidebar li {
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}

.sidebar a.active {
    color: white;
    border-radius: 4px;
    background: #192838;
}

.sidebar a {
    width: 100%;
    text-decoration: none;
    color: white;
    transition: color 0.2s ease;
    font-size: 16px;
}

.sidebar-icons-div:hover {
    border-radius: 4px;
    background: #192838;
}

.main {
    flex: 1;
    position: relative;
    min-height: 100dvh;
    background-color: #ecf0f1;
}

.main .close {
    top: 4px;
    left: 4px;
    cursor: pointer;
    padding: 6px;
    position: absolute;
    color: white;
    background-color: #2c3e50;
    border-radius: 4px;
}

.main-div {
    padding: 20px;
    margin-top: 30px;
}

.main-div h1 {
    margin-top: 5px;
    text-align: center;
    font-size: 35px;
}

.main-div p {
    text-align: center;
    font-size: 16px;
    color: #2c3e50;
    margin-top: 10px;
}

.add-entry-button {
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    gap: 8px;
    background-color: #2c3e50;
    padding: 10px 16px;
    border-radius: 8px;
    width: fit-content;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-entry-button:hover {
    background-color: #192838;
}

.load_more {
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 28px;
    gap: 8px;
    color: white;
    background-color: #2c3e50;
    padding: 10px 22px;
    border-radius: 8px;
    width: fit-content;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
}

.load_more {
    background-color: #192838;
    color: white;
    border: none;
    padding: 12px 28px;
    margin-top: -4px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.load_more:hover {
    transform: scale(1.02);
}

.add-entry-button .material-symbols-outlined {
    font-size: 18px;
    color: white;
}

.add-entry-button button {
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.stats-div {
    margin-top: 5px;
    padding: 10px 20px;
}

.stats-div h2 {
    font-size: 20px;
}

.entries-detail-div {
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.detail {
    background-color: white;
    padding: 16px 24px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    text-align: center;
}

.detail h2 {
    font-size: 20px;
    color: #2c3e50;
    margin-bottom: 8px;
}

.detail p {
    font-size: 23px;
    font-weight: bold;
    color: #192838;
}

.close-button {
    display: flex;
    justify-content: right;
    right: 10px;
    top: 6px;
    position: absolute;
    cursor: pointer;
}

.past-entries {
    margin-top: 5px;
    padding: 10px 20px;
}

.entries {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 10px;
}

.entry-not-found {
    margin-top: 28px;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
}

.entry-not-found h2 {
    color: #535252;
    margin-bottom: 10px;
}

.entry-not-found p {
    color: #6c757d;
}

.entries-container {
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #2c3e50;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(40, 167, 69, 0.2);
}

.entry-found {
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.entries-container:hover {
    background-color: #34495e;
    transform: scale(1.003);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.entry-found-top {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 10px;
}

.entry-found-top h2 {
    color: white;
}

.entry-found-top p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.884);
}

.entry-found-content {
    overflow-x: scroll;
    text-align: left;
    color: #ffffffd4;
}

.date-time-div {
    display: flex;
    gap: 6px;
    align-items: center;
}

.date-time-div p {
    color: #d5def1;
    font-size: 12px;
}

.date-time-div .time {
    color: #a9b7c5;
    margin-top: 0px !important;
}

.entry-found-content::-webkit-scrollbar {
    display: none;
}

.entry-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.entry-found-select {
    display: flex;
    gap: 8px;
    align-items: center;
}

.entry-found-select p {
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 30px;
    color: black;
    cursor: pointer;
}

.entry-title-date h2 {
    font-size: 24px;
    margin-bottom: 8px;
    color: #2c3e50;
}

.entry-title-date p {
    font-size: 14px;
    color: #6c757d;
}

.edit-delete-div {
    display: flex;
    justify-content: right;
    gap: 8px;
    color: white;
}

.edit-delete-div span {
    padding: 6px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

.entry-edit {
    background-color: rgb(19, 160, 19);
}

.entry-edit:hover {
    background-color: rgb(40, 105, 40);
}

.entry-delete {
    background-color: rgb(211, 42, 42);
}

.entry-delete:hover {
    background-color: rgb(89, 45, 45);
}

.add-entry-container {
    width: 90%;
    height: max-content;
    z-index: 1000;
    padding: 20px;
    margin: auto;
    background-color: #192838;
    color: #f1f1f1;
    box-shadow: 0 4px 25px rgba(151, 158, 233, 0.3);
}

.add-entry-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.add-entry-header h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
}

.close-btn {
    background: none;
    border: none;
    color: white;
    background-color: #24384d;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    cursor: pointer;
    transition: color 0.2s;
}

.close-btn:hover {
    color: #f44336;
    background-color: #2e4a64;
}

.add-entry-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.entry-input,
.entry-select,
.entry-textarea {
    background-color: #24384d;
    color: #e0e0e0;
    border: 1px solid #375672;
    padding: 8px 10px;
    border-radius: 6px;
    font-size: 16px;
    transition: border-color 0.2s, background-color 0.2s;
}

.entry-input::placeholder,
.entry-textarea::placeholder {
    color: white;
    opacity: 0.8;
}

.entry-input:focus,
.entry-select:focus,
.entry-textarea:focus {
    outline: none;
    border-color: white;
    background-color: #2e4a64;
}

.entry-select-row {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.content-div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.edit-preview-div {
    display: flex;
    gap: 8px;
    align-items: center;
}

.edit-div {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #45698e;
    padding: 6px 8px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.edit-div span {
    font-size: 16px;
}

.preview-div {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #45698e;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.preview-div span {
    font-size: 16px;
}

.edit-div.active,
.preview-div.active {
    background-color: #24384d;
    border: 1px solid #00ffd5;
    font-weight: bold;
}

.entry-select-row {
    display: flex;
    gap: 6px;
}

.entry-select-wrapper {
    position: relative;
    width: fit-content;
}

.entry-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    width: 150px;
    padding: 6px 8px !important;
}

/* Custom arrow */
.entry-select-wrapper::after {
    content: "▼";
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: white;
    font-size: 10px;
}

.entry-textarea {
    resize: vertical;
    min-height: 130px;
}

.entry-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 14px;
    margin-top: 10px;
}

.cancel-btn,
.save-btn {
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: opacity 0.2s;
}

.cancel-btn {
    background-color: transparent;
    border: 1px solid #888;
    color: #bbb;
}

.cancel-btn:hover {
    opacity: 0.8;
}

.save-btn {
    background-color: white;
    color: #192838;
}

.save-btn:hover {
    opacity: 0.9;
}

.markdown-content {
    background-color: #24384d;
    color: #e0e0e0;
    border: 1px solid #375672;
    padding: 12px 14px;
    border-radius: 10px;
    font-size: 15px;
    transition: border-color 0.2s, background-color 0.2s;
    height: 250px;
    overflow-y: scroll;
}

/* Success CSS */

.success-entry {
    background-color: #e0f7ec;
    position: fixed;
    top: 89%;
    right: 5px;
    color: #155724;
    border: 1px solid #b2dfdb;
    border-radius: 3px;
    width: 230px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: "Segoe UI", sans-serif;
    opacity: 0;
    transform: translateY(-20px);
    animation: slideFadeIn 0.5s ease-out forwards;
}

/* Keyframes for the animation */
@keyframes slideFadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.success-entry h3 {
    font-size: 14px;
    margin: 0;
    flex: 1;
}

.success-icon {
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: right;
    color: #2e7d32;
    transition: transform 0.2s ease;
}

.success-icon:hover {
    transform: rotate(90deg);
}

/* About Css */

.about-container {
    padding: 20px;
    margin-top: 30px;
    line-height: 1.7;
}

.about-container h1 {
    font-size: 36px;
    text-align: center;
}

.about-container .description {
    text-align: center;
    color: #2c3e50;
}

.section {
    margin-top: 30px;
}

.section h2 {
    font-size: 26px;
    margin-bottom: 10px;
    border-left: 5px solid #2f80ed;
    padding-left: 10px;
}

.section p {
    font-size: 17px;
}

.team-list {
    list-style: none;
    padding-left: 0;
}

.team-list li {
    font-size: 18px;
    margin: 6px 0;
}

/* Calendar Css */

.calendar-wrapper {
    padding: 20px;
}

.calendar-title {
    margin-bottom: 10px;
    margin-top: 50px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    text-align: center;
}

.calendar-description {
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: 1.04px;
}

.calendar {
    max-width: 450px;
    margin: auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.calendar-header h2 {
    margin: 0;
    font-size: 1.5rem;
}

.day-names {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: bold;
}

.day-name {
    font-size: 15px;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0px;
    margin-top: 0.8rem;
}

.arrow-icons {
    cursor: pointer;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.arrow-icons:hover {
    color: #ccc;
}

.day {
    padding: 10px;
    background: #f4f4f4;
}

.day.today {
    background-color: #00bcd4;
    color: white;
    font-weight: bold;
}

.day.empty {
    visibility: hidden;
}

.custom-calendar-container {
    margin-bottom: 20px;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.custom-calendar {
    width: 100%;
    max-width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    font-family: sans-serif;
}

.custom-calendar button {
    border: none;
    background: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
    transition: background 0.2s;
}

.custom-calendar button:hover {
    background-color: #f0f0f0;
}

.react-calendar__navigation__label {
    font-size: 1rem;
    font-weight: bold;
    color: #1e40af;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0.5rem 1rem;
    cursor: default;
    user-select: none;
}

.react-calendar__navigation {
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
    align-items: center;
}

.react-calendar__month-view__weekdays {
    margin-top: 10px;
    font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
    text-align: center;
    font-size: 13.5px;
}

.custom-today {
    background-color: #38bdf8 !important;
    color: white !important;
    font-weight: bold;
    border-radius: 6px;
}

/* Entries Css */

.entries-data {
    padding: 20px;
}

.entries-data-title {
    margin-bottom: 10px;
    margin-top: 50px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    text-align: center;
}

.entries-data-title h1 {
    text-align: center;
}

.entries-data-title p {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: 1.04px;
}

/* NO Page Error */

.no-page-wrapper {
    margin-top: 100px;
    padding: 10px;
}

.no-page-title {
    text-align: center;
}

.selected-date-entry-div {
    display: flex;
    gap: 25px;
    justify-content: space-between;
}

.calendar-selected-date-entry-div {
    width: 50%;
}

.entries-selected-date-entry-div {
    width: 50%;
}

.calendar-entry-not-found {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
}

.calendar-entry-not-found h2 {
    text-align: center;
    color: #535252;
    margin-bottom: 10px;
}

.calendar-entry-not-found p {
    text-align: center;
    color: #6c757d;
}

.entry-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (max-width: 600px) {
    .day-name,
    .day {
        font-size: 12px;
    }
    .calendar-wrapper {
        padding: 10px;
    }
}

@media (width<800px) {
    .selected-date-entry-div {
        flex-direction: column;
    }

    .calendar-entry-not-found {
        width: 100%;
    }
    .calendar-selected-date-entry-div {
        width: 100%;
    }

    .entries-selected-date-entry-div {
        width: 100%;
    }
}

@media (width<600px) {
    .dock-for-computers {
        display: none;
    }

    .dock-for-mobiles {
        display: block;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
    }
}

@media (width<500px) {
    .entry-found-top {
        flex-direction: column;
        align-items: flex-start;
    }

    .date-time-div .time {
        font-size: 13px !important;
        margin-top: 0px !important;
    }
}
